 @import "base/specs.scss";

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article,
aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: Helvetica;
  background-color: $background-blue;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

// this hide element courtesy of Osvaldas Valutis
// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.hide-element {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.bold-h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 auto;
  display: inline-block;
}

.text-large {
  font-size: 1.5em;
}
