 @import "base/specs.scss";

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article,
aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  line-height: 1.5;
  font-size: 18px;
  font-family: Helvetica;
  background-color: $background-blue;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
}

@viewport {
   width: device-width;
   zoom:1;
}


@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
