 @import "base/specs.scss";


.ReactModalPortal > * {
    // When the modal is closed, overlay div has no css class
    // This selector should be overridden by the &--after-open class below
    opacity: 0;
}

.ReactModal__Overlay {
    transition: opacity 300ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-between {
  display: flex;
  align-items: space-between;
}

.container {
  display: flex;
  justify-content: center;
}

// this hide element courtesy of Osvaldas Valutis
// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.hide-element {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.bold-h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0 auto;
  display: inline-block;
}

.font-light {
  font-weight: 200;
}

.text-large {
  font-size: 1.8em;
}

.text-small {
  font-size: .8em;
}

.mobile-hide {
  display: none;
}

.hover-blue {
  @include hover-blue;
  cursor: pointer;
}

@media (min-width: 668px) {
  .mobile-hide {
    display: flex;
  }
}
