$btn-green: #34bf49;
$btn-green-hover: #36c94c;

$nav-blue-hover: #2da7ff;

$btn-blue: #0099e5;
$btn-blue-hover: #00a3f4;

$background-blue: #f7f8fa;

$white: rgb(253, 253, 253);

$light-grey: #eee;
$dark-grey: #rgb(113, 118, 122)
