@import "base/specs.scss";
@import "base/mixins.scss";

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 3.5em;
  z-index: 10;
  color: $white;
}

.navbar-std {
  border-bottom: 1px solid $light-grey;
  background-color: $white;
  color: $dark-grey;
  z-index: 10;
}

.nav-logo {
  font-size: 1.7em;
  letter-spacing: .1em;
  margin-right: .5em;
  text-decoration: none;
  color: black;
  font-family: 'Maven Pro', sans-serif;
  margin-left: .2em;
  transition: color .2s;
  @include hover-blue;
}

// splash
.text-light {
  color: $white;
}

.nav-link-light {
  color: $white;
  text-decoration: none;
  margin-right: .2em;
  transition: color .2s;
  @include hover-blue;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: .2em;
  transition: color .2s;
  @include hover-blue;
}

.nav-link-text {
  display: none;
}

.nav-left .fa {
  margin: 0 .2em;
}

header .fa {
  font-size: 1.7em;
}

@media only screen and (min-width: 668px) {
  [class*="nav-link"] {
    margin: 0 .3em;
  }

  .nav-logo {
    margin-left: 1.5em;
    margin-right: 1em;
  }

  .nav-link-text {
    display: inline-block;
  }
  .nav-left .fa {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  header {
    font-size: 12px;
  }
}
