 @import "base/specs.scss";

 .navbar {
   justify-content: space-between;
   position: relative;
   height: 3.5em;
   z-index: 5;
   color: $white;
 }

.navbar-std {
   border-bottom: 1px solid $light-grey;
   background-color: $white;
   color: $dark-grey;
 }

.nav-component {
  height: 100%;
}

.signup-nav-btn {
  background-color: $btn-green;
  color: $white;
  padding: 0 1em;
  margin: 0 1.5em;
  text-decoration: none;
  height: 100%;
}

.signup-nav-btn:hover {
  background-color: $btn-green-hover;
}

.signup-nav-btn-light {
  background-color: $btn-blue;
  height: 60%;
  border-radius: 1em;
}

.signup-nav-btn-light:hover {
  background-color: $btn-blue-hover;
  color: $white;
}

.nav-logo {
  font-size: 1.7em;
  letter-spacing: .1em;
  padding-right: .5em;
  text-decoration: none;
  color: black;
  font-family: 'Maven Pro', sans-serif;
  margin-left: .2em;
}

.nav-logo:hover {
  color: $nav-blue-hover;
}

// splash
.text-light {
  color: white;
}

.nav-link-light {
  color: white;
  text-decoration: none;
  margin-right: .2em;
}

.nav-link-light:hover {
  color: $nav-blue-hover;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-right: .2em;
}

.nav-link:hover {
  color: $nav-blue-hover;
}

.nav-link-text {
  display: none;
}

header .fa {
  font-size: 1.7em;
  margin-right: .8em;
}

@media only screen and (min-width: 768px) {
  .nav-logo {
    margin-left: 1.5em;
  }
  [class*="nav-link"] {
    margin-right: 1em;
  }
  .nav-link-text {
    display: inline-block;
  }
  header .fa {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}
