@import "base/specs.scss";
@import "base/mixins.scss";

.photos-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-preview-container {
  position: relative;
  cursor: zoom-in;
}

.photo-preview-container:hover .photo-preview-overlay {
  height: 2.5em;
  padding-top: .7em;
}

.photo-preview-overlay {
  padding-left: 1em;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  width: calc(100% - 6px);
  height: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  transition: .5s ease;
  overflow: hidden;
  color: $white;
  font-weight: 200;
  background: rgba(12, 15, 18, .5);
  background: linear-gradient(to top, rgba(12, 15, 18, .8), rgba(12, 15, 18, 0));
}
