@import "base/specs.scss";
@import "base/mixins.scss";

.photo-feed-page {
  display: flex;
  margin: 3em auto;
  width: 96%;
  position: relative;
}

.photo-feed-item-container {
  width: 100%;
}

.photo-feed-item {
  box-sizing: border-box;
  background-color: $white;
  margin-bottom: 2em;
  border: 1px solid $light-grey;
  color: $dark-grey;
}

.photo-feed-item-header {
  height: 5em;
  padding: 1em;
  display: flex;
  align-items: center;
  div {
    margin-right: 1em;
  }
  h4 {
    font-size: 1.2em;
    @include hover-blue;
    font-weight: bold;
  }
}

.photo-feed-item-footer {
  padding: 1em;
  h3 {
    font-size: 1.3em;
    margin-bottom: .8em;
    @include hover-blue;
  }
}

.photo-feed-img-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
    img {
      cursor: zoom-in;
      max-width: 100%;
      max-height: 90vh;
      width: auto;
      height: auto;
  }
}

.feed-sidecol {
  position: sticky;
  top: 5em;
  height: fit-content;
  display: none;
}

.feed-currentuser {
  margin-bottom: 2em;
  box-sizing: border-box;
  width: 20em;
  display: none;
  border: 1px solid $light-grey;
  border-radius: .2em;
  background: $white;

  .follow-user-item-info {
    box-sizing: border-box;
    border-bottom: 1px solid $light-grey;
    display: flex;
    padding: 1em;
    align-items: center;
    width: 100%;
  }
  .nav-user-icon {
    height: 4em;
    width: 4em;
    margin-right: 1em;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 200;
    @include hover-blue;
    color: $grey;
  }
}

.follow-user-item-subrow {
  box-sizing: border-box;
  display: flex;
  width: 100%;

  span {
    @include hover-blue;
    box-sizing: border-box;
    width: 33.33%;
    height: 6em;
    border-right: 1px solid $light-grey;
    color: $grey;
    text-align: center;
    padding: 1em;

    h5{
      font-size: 1.7em;
      padding: 0;
      margin: 0;
      font-weight: 200;
    }
  }

  span:last-child {
    border-right: none;
  }
}

.no-feed-msg {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: 1px $light-grey solid;
  background: $white;
  height: 20em;
  font-size: 1.3em;
  color: $grey;
  a {
    text-decoration: underline;
    font-size: 1.5em;
    margin-top: 1em;
    @include hover-blue;
  }
}


@media (min-width: 668px) {
  .photo-feed-page {
    width: 86%;
  }
}

@media (min-width: 900px) {
  .photo-feed-item-container {
    width: calc(100% - 22em);
    margin-right: 2em;
  }

  .feed-sidecol {
    display: block;
  }

  .feed-currentuser {
    display: flex;
    flex-direction: column;
  }
  .photo-feed-page {
    max-width: 90em;
  }
}
