 @import "base/specs.scss";

.login-grid h3 {
  font-size: 1.5em;
  padding: .5em;
  margin-bottom: 1em;
  color: rgb(82, 85, 88)
}

.login-grid {
  box-sizing: border-box;
  background-color: rgb(253, 253, 253);
  margin: 0 auto;
  margin-top: 10%;
  padding: .8em;
  border: solid 1px $light-grey;
  display: flex;
  width: 100%;
  max-width: 25em;
}

.login-body {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-grid form {
  width: 80%;
}

.login-grid label {
  color: $dark-grey;
}

.login-grid input {
  width: 100%;
  margin: .5em 0;
  font-size: 1em;
  height: 2.2em;
  padding: .2em 0;
  box-sizing: border-box;
  color: $dark-grey;
}

.login-grid button {
  box-sizing: border-box;
  width: 100%;
  background-color: #34bf49;
  cursor: pointer;
  color: #fff;
  border: none;
  height: 2.5em;
  padding: .5em;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 16px;
  border-radius: .2em;
}

.login-grid button:hover {
  background-color: #36c94c;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.login-container-footer {
  color: $dark-grey;

}
.login-container-footer a {
  color: #2da7ff;
  text-decoration: none;
}

@media (min-width: 668px) {
  .login-grid {
    max-width: 25em;
    width: 50%;
  }

}
