 @import "base/specs.scss";

.splash {
  top: 0;
  position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: image_url("splash_low_res.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.splash-text {
  z-index: 2;
  position: absolute;
  top: 25%;
  width: 100%;
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
      0px 8px 13px rgba(0,0,0,0.1),
      0px 18px 23px rgba(0,0,0,0.1);
}

.btn-blue-lg {
  background-color: $btn-blue;
  color: $white;
  font-size: .6em;
  padding: 1em 1.2em;
  border-radius: 1.7em;
  text-shadow: none;
}

.btn-blue-lg:hover {
  background-color: $btn-blue-hover;
}
