 @import "base/specs.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 77, 77, 0.75);
  overflow: hidden;
  z-index: 15;
}

.upload-modal {
  z-index: 20;
  border: solid 1px $light-grey;
  width: 90vw;
  max-width: 80em;
  height: 80vh;
  margin: 10vh auto;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
}

.upload-modal:focus {
  outline: none;
}

.upload-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.upload-preview {
  position: relative;
  max-height: 33vh;
  max-width: 90%;
  margin-top: -3em;
  overflow: none;
}


.upload-preview img {
  display: inline-flex;
  align-self: center;
  max-height: 33vh;
  max-width: 100%;
  width: auto;
}

.upload-btn{
  box-sizing: border-box;
  text-align: center;
  background-color: $btn-blue;
  cursor: pointer;
  color: $white;
  border: none;
  height: 2.5em;
  padding: 1em 2em;
  font-size: 1.2em;
  border-radius: .2em;
  margin-top: -2em;
  display: flex;
  align-items: center;
}

.upload-btn-on:hover {
  background-color: $btn-blue-hover;
}

.upload-label {
  color: $nav-blue-hover;
}

.upload-details-form {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 32em;
  position: relative;
}

.upload-details-form h3 {
  font-size: 1.4em;
  padding-bottom: 2em;
  color: $dark-grey;
  display: none;
}

.upload-details-form input, .upload-details-form textarea {
  border: 1px solid $dark-grey;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.upload-details-form input {
  margin-bottom: .5em;
}

.upload-details-form textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  height: 6em;
}

.upload-details-form input:focus, .upload-details-form textarea:focus {
  border: solid 1px $nav-blue-hover;
  box-shadow: none;
  outline: none;
}

.modal-close {
  position: absolute;
  background-color: white;
  font-size: 2em;
  top: .5em;
  right: .5em;
  display: none;
}

.modal-close:hover {
  color: red;
  cursor: pointer;
}

.cancel-upload {
  display: flex;
  position: absolute;
  font-size: 1.8em;
  top: .5em;
  left: .5em;
  color: #c62f1d;
}

.cancel-upload:hover {
  color: #dd3a27;
  cursor: pointer;
}

@media (min-width: 668px) {
  .upload-modal {
    flex-direction: row;
    overflow: auto;
  }

  .upload-preview {
    max-height: 65vh;
  }

  .upload-preview img {
    max-height: 65vh;
  }

  .upload-details-form {
    border-left: 1px solid $light-grey;
  }

  .upload-details-form h3 {
    display: flex;
  }

  .modal-close {
    display: flex;
  }

  .upload-details-form input {
    margin-bottom: 1.5em;
  }

  .upload-details-form textarea {
    height: 10em;
  }

}
