@import "base/specs.scss";
@import "base/mixins.scss";

.cover-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.profile-edit-btn {
  @include profile-btn;
  cursor: pointer;
  background-color: $btn-blue;
  color: $white;
  z-index: 1;
}

.profile-edit-btn:hover {
  background-color: $btn-blue-hover;
}

.user-profile-masthead {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
}

.user-profile-subheader-text {
  margin: 1em 0;
}

.user-profile-subheader-text span {
  margin: 0 1em;
  color: $grey;
}

.profile-photo {
  z-index: 5;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin-top: -4em;
  margin-bottom: 1em;
  border: 2px solid $white;
  @include default-user-profile;
}

.profile-header {
  color: $dark-grey;
  font-size: 2em;
}

.photos-grid {
  margin: 0 auto;
}

.no-photos-warning {
  padding: 2em;
  font-size: 1.2em;
  color: $grey;
}

.profile-modal {
  max-width: 43em;
  max-height: 90vh;
  margin: 5vh auto;
  position: relative;
  background-color: $background-blue;
}

.profile-edit-component {
  height: 100%;
}

.profile-edit-component h2 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin: 2vh auto;
  color: $black;
  // color: $nav-blue-hover;
}

.profile-photo-change-component {
  margin-bottom: 1em;
}

.profile-photo-change-component label {
  margin: 0 auto;
  display: block;
  width: fit-content;
  font-size: 1em;
}

.profile-photo-change-component span {
  margin: 0 auto;
}

.profile-photo-change {
  height: 6em;
  width: 6em;
  z-index: auto;
  margin: 1em auto;
  cursor: pointer;
}
// submit button
.profile-edit-component button {
  width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  margin: 1em auto;
}

.cover-photo-grid {
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
}

.cover-photo-selected {
  box-shadow: 0em 0em .8em 2px $btn-blue-hover;
  border: 1px solid $btn-blue-hover;
}

.cover-photo-selector {
  box-sizing: border-box;
  height: 10em;
  width: 10em;
  overflow: hidden;
  margin: .2em;
}

.cover-photo-selector:hover {
  box-shadow: 0em 0em .5em 1px $btn-blue-hover;
  cursor: pointer;
}

.cover-photo-selector img {
  object-fit: cover;
  height: 10em;
  width: 10em;
}

@media (min-width: 668px) {
  .profile-edit-btn {
    right: 5vw;
  }

  .profile-edit-component button {
    margin-top: 1.2em;
  }
}
