 @import "base/specs.scss";

.cover-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.profile-edit-btn {
  position: absolute;
  bottom: 0;
  right: 1em;
  margin-bottom: -2.8em;
  box-sizing: border-box;
  text-align: center;
  background-color: $btn-blue;
  cursor: pointer;
  color: $white;
  border: none;
  font-size: 1em;
  padding: .3em .7em;
  border-radius: .2em;
  z-index: 1;
}

.profile-edit-btn:hover {
  background-color: $btn-blue-hover;
}
.user-profile-masthead {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
}

.user-profile-subheader-text {
  margin: 1em 0;
}

.user-profile-subheader-text span {
  margin: 0 1em;
  color: $grey;
}

.profile-photo {
  z-index: 5;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin-top: -4em;
  margin-bottom: 1em;
  border: 2px solid $white;
  background-image: image-url('user_default.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-header {
  color: $dark-grey;
  font-size: 2em;
}


.photos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos-grid img {
  box-sizing: border-box;
  margin: .2em;
  max-height: 20em;
  height: auto;
  width: auto;
  max-width: 100%;
}

.photo-preview-container {
  max-width: 100%;
  height: auto;
}

// MODAL STYLE
.profile-modal {
  max-width: 40em;
  position: relative;
}

.profile-edit-component {
  height: 100%;
}

.profile-edit-component h2 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin: 2vh auto;
  color: $nav-blue-hover;
}

.profile-photo-change {
  height: 6em;
  width: 6em;
  z-index: auto;
  margin: 1em auto;
}

.profile-photo-change-component {
  margin-bottom: 1em;
}

.profile-photo-change-component label {
  margin: 0 auto;
  display: block;
  width: fit-content;
  font-size: 1em;
}

.cover-photo-grid {
  min-height: 50vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
}

.cover-photo-selected {
  box-shadow: 0em 0em .8em 2px $btn-blue-hover;
  border: 1px solid $btn-blue;
}

.cover-photo-selector {
  box-sizing: border-box;
  height: 10em;
  width: 10em;
  overflow: hidden;
  margin: .2em;
}

.cover-photo-selector:hover {
  box-shadow: 0em 0em .5em 1px $btn-blue-hover;
  cursor: pointer;
}

.cover-photo-selector img {
  object-fit: cover;
  height: 10em;
  width: 10em;
}

@media (min-width: 668px) {
  .profile-edit-btn {
    right: 5vw;
  }
}
