.navbar {
  justify-content: space-between;
  position: relative;
  height: 3.5em;
  z-index: 5;
  // border-bottom: 1px solid #eee;
  // background-color: rgb(253, 253, 253);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



.container {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1.5em;
  padding: .5em;
  margin-bottom: 1em;
  color: rgb(82, 85, 88)
}

.navbar {
  justify-content: space-between;
  height: 3.5em;
  // border-bottom: 1px solid #eee;
  // background-color: rgb(253, 253, 253);
}

.flex-center {
  display: flex;
  align-items: center;
  height: 100%
}

.login-grid {
  background-color: rgb(253, 253, 253);
  margin: 0 auto;
  margin-top: 10%;
  padding: 1em;
  border: solid 1px #eee;
  display: flex;
  width: 25em;
  max-width: 50%;
}

.login-body {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-grid form {
  width: 80%;
}

.login-grid label {
  color: rgb(113, 118, 122)
}

.login-grid input {
  width: 100%;
  margin: .5em 0;
  font-size: 1em;
  height: 2.2em;
  padding: .2em 0;
  box-sizing: border-box;
  color: rgb(113, 118, 122);
}

.login-grid button {
  box-sizing: border-box;
  width: 100%;
  background-color: #34bf49;
  cursor: pointer;
  color: #fff;
  border: none;
  height: 2.5em;
  padding: .5em;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 16px;
  border-radius: .2em;
}

.login-grid button:hover {
  background-color: #36c94c;
}

.flex {
  display: flex;
}

.font-maven {
  font-family: 'Maven Pro', sans-serif;
  margin-left: 1.5em;
}

.nav-btn {
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

.nav-btn:hover {
  color: #2da7ff;
}

.signup-nav-btn {
  background-color: #34bf49;
  color: #fff;
  padding: 0 1em;
  margin: 0 1.5em;
  text-decoration: none;
}

.signup-nav-btn:hover {
  background-color: #36c94c;
}

.nav-logo {
  font-size: 1.5em;
  letter-spacing: .1em;
  padding-right: 1em;
  text-decoration: none;
  color: black;
}

.nav-logo:hover {
  color: #2da7ff;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.login-container-footer {
  color: rgb(113, 118, 122);

}
.login-container-footer a {
  color: #2da7ff;
  text-decoration: none;
}
